<h1>EDIT TABLE</h1>

<%= form_for @party do |f| %>
  <%= f.label :table_number %>
  <%= f.number_field :table_number %>

  <%= f.label :party_size %>
  <%= f.number_field :party_size %>

  <%= f.submit %>
<% end %>

<%= link_to "DELETE", party_path(@party), method: :delete %>
