<h1><%= link_to( @party.table_number, party_path(@party.id) ) %></h1>

<p>Table Number: <%= @party.table_number%></p>
<p>Party Size: <%= @party.party_size %></p>
<p>Customers:</p>
<%= link_to "EDIT", edit_party_path(@party.id) %>

<li><%= link_to "Add Food Order", new_food_order_path %></li>
