<h2> Table <%=Table.find(params[:table_id]).table_number%></h2>
<%= form_for [:table, @food_order] do |f| %>


  <%= f.label :food_item_id %>
  <%= f.collection_select :food_item_id, FoodItem.all, :id, :name %>
  <%= f.label :seat_number %>
  <%= f.number_field :seat_number%>
  <%= f.hidden_field :table_id, value: params[:table_id]%>
  <%= f.submit %>


<% end %>

<% @food_orders.each do |order|%>

  <h2><%= order.food_item.name %> </h2>
  <h2><%=order.seat_number %></h2>
<% end %>
