<h2> Table <%=Table.find(params[:table_id]).table_number%></h2>
<%= form_for [:table, @food_order] do |f| %>

  <div class="row">
    <div class="col-sm-3">
  <%= f.label :food_item_id %>
  <%= f.collection_select :food_item_id, FoodItem.all, :id, :name %>
</div>
<div class="col-sm-5">

  <%= f.label :seat_number %>
  <%= f.number_field :seat_number%>
  <%= f.hidden_field :table_id, value: params[:table_id]%>
  <%= f.submit "Add Order"%>
</div>
<div class="col-sm-4">
</div>

</div>

<% end %>

<% @food_orders.each do |order|%>
  <div class="row">
  <div class="col-xs-5"><h4><%= order.food_item.name %> </h4></div>
  <div class="col-xs-5"><h4>Seat: <%=order.seat_number %></h4></div>
</div>
<% end %>
</div>
