<header>
  <ul>
    <li><%= link_to "Home", profile_path%></li>
    <li><%= link_to "Log Out", delete_session_path, method: :delete %></li>

  </ul>
</header>
<h1>Staff</h1>

<%= form_for @waitstaff do |f| %>
<div class="col-sm-4">

  <%= f.label :name, value: "Employee Name" %>
  <%= f.text_field :name, value: @user.username %>

  <%= f.submit "Start Shift"%>
</div>
<% end %>
