<h1>NEW TABLE</h1>

<%= form_for @customer do |f| %>
  <%= f.label :table_number %>
  <%= f.number_field :table_number %>

  <%= f.label :party_size %>
  <%= f.number_field :party_size %>
  <%= f.label :waitstaffs_id %>
  <%= f.collection_select :waitstaffs_id, Waitstaff.all, :id, :name %>

  <%= f.submit %>

<% end %>
