<h1>Here's all the parties</h1>

<%= link_to "Add a new table", new_table_path %>

<% @tables.each do |table| %>

  <h2>Table <%= table.table_number%> - <%= table.waitstaff.name %></h2>
  <!--  TO DO -->
  <h4><%= link_to "Add Order", new_table_food_order_path(table) %></h4>

  <!--  TO DO -->
  <h4><%= link_to "View Orders", table_path(table) %></h4>
  <!--  TO DO -->
  <h4><%= link_to "View Bill", receipt_path(table) %></h4>

  <h4><%= link_to "Close Out", table_path(table), method: :delete %></h4>

<% end %>



<!--  loop through table numbers, make those the headers, show the customers under each table as editable fields-->
