<h1>Here's all the parties</h1>

<%= link_to "Add a new table", new_table_path %>

<% @tables.each do |table| %>
  <h2>Table <%= table.table_number%></h2>
  
  <h4><%= link_to "View Orders", "" %></h4>

  <h4><%= link_to "View Bill", "" %></h4>

  <h4><%= link_to "Close Out", "" %></h4>



<!--  loop through table numbers, make those the headers, show the customers under each table as editable fields-->
<% end %>
