<h2>Current Customers</h2>
<div>
<%= link_to "Add a new table", new_table_path %>
</div>
<% @tables.each do |table| %>
  <div class= "col-sm-3 ">
  <h4>Table <%= table.table_number%></h4>
  <p>Server - <%= table.waitstaff.name %></p>

  <h6><div class="col-xs-12"><%= link_to "Add Order", new_table_food_order_path(table) %> | <%= link_to "View Orders", table_path(table) %> | <%= link_to "Receipt", receipt_path(table) %> | <%= link_to "Close Out", table_path(table), method: :delete %></div></h6>
</div>
<% end %>



<!--  loop through table numbers, make those the headers, show the customers under each table as editable fields-->
