<h1>Table <%= @table.table_number%></h1>
<h4>Orders:</h4>
<% @food_orders.each do |o|%>
<p><%= o.food_item.name %></p>
<% end %>


<li><%= link_to "Add Food Order", new_table_food_order_path(params[:id]) %></li>
<%= link_to "View Receipt", receipt_path %>

<%= link_to "Close Out", table_path(@table), method: :delete %>
