<header>
  <ul>
    <li><%= link_to "Home", profile_path%></li>
    <li><%= link_to "Log In", log_in_path %></li>
    <li><%= link_to "Menu", food_items_path %></li>
  </ul>
</header>
<h1>Menu</h1>

<% @food_items.each do |food| %>
  <div class="row">
    <div class="col-xs-6">
      <h2><%= food.name %></h2>
    </div>
    <div class="col-xs-3">
      <h2><%= number_to_currency(food.price) %></h2>
    </div>
    <%if @user && @user.is_admin == 1%>
    <div class="col-xs-3">

    <h4><%= link_to "Delete", food_item_path(food), method: :delete %></h4>
    </div>
    <% else %>
    <div class="col-xs-3">
    </div>
  <% end %>
</div>

<% end %>

<%if @user && @user.is_admin == 1%>
<li><%= link_to "Add Food Item", new_food_item_path %></li>
<% end %>
