<header>
  <ul>
    <li><%= link_to "Home", profile_path%></li>
  </ul>
</header>
<h1>Menu</h1>
<%if @user && @user.is_admin == 1%>
<%= link_to "Add Food Item", new_food_item_path %>
<% end %>
<div class="menu-container">
<% @food_items.each do |food| %>
  <div class="row food-row">
    <div class="col-xs-6">
      <p><%= food.name %></p>
    </div>
    <div class="col-xs-3">
      <p><%= number_to_currency(food.price) %></p>
    </div>
    <%if @user && @user.is_admin == 1%>
    <div class="col-xs-3">

    <h4><%= link_to "Delete", food_item_path(food), method: :delete %></h4>
    </div>
    <% else %>
    <div class="col-xs-3">
    </div>
  <% end %>
</div>

<% end %>
</div>
