<header>
  <ul>
    <li><%= link_to "Home", profile_path%></li>
  </ul>
</header>
<h1>NEW Food</h1>

<%= form_for @food_item do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.label :price %>
  <%= f.number_field :price, :step => 0.01 %>

  <%= f.submit %>
<% end %>
